/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#content a {
	color: #000000;
	text-decoration: none;
}
#content a:hover, a:active	{
 	text-decoration: underline;
 }
a.weekLink {
	font: 12pt sans-serif;
	color: #990000;
}
.legend {
	font: 10pt sans-serif;
	font-weight: bold;
}
.none-available {
	font: 12pt sans-serif;
	font-style: italic;
}
#content: {
	margin-top: 5px;
	margin-left: 5px;
}

#noteboard	{
	margin-bottom: 10px;
}
#pageControls {
	clear: both;
	font: 10pt sans-serif;
	font-weight: bold;
}
#pageControls ul {
	margin-left: 0px;
	padding-left: 5px;
}
#pageControls ul li {
	display: inline;
	padding-right: 10px;
}

#currentschedule {
	margin: 0px 0px 0px 0px;
	min-width:1025px;
}
#currentschedule ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
ul.scheduleblocks li {
	list-style: none;
	margin-bottom: 1px;
	font: 10px sans-serif;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
}
ul.scheduleblocks li span {
	vertical-align: top;
}
ul.scheduleblocks li img {
	border: 0;
}

ul.scheduleblocks li.dayhead	{
	background-color: #ebebeb;
	border: 1px solid #7a7a7a;
	font-size: 16px;
	text-align: center;
}
.attending {
	background-color: #6c8bdd;
	border: 1px solid #0000aa;
	height: 2.5em;
}
.attending a {
	color: #fff;
}

.weekday {
	float: left;
	width: 140px;
	/*width: 10.5em;*/
	margin-right: 2px;
}
.weekcontainer	{
	clear: both;
	padding-top: 1em;
}

.increase	{
	padding-right: 18px;
	background: transparent url(/scheduling-assistant/rs/famfamfam/silk/1.3/contrast_increase.png) no-repeat center right;
}
.standard	{
	padding-right: 18px;
	background: transparent url(/scheduling-assistant/rs/famfamfam/silk/1.3/contrast_decrease.png) no-repeat center right;
}
.refresh	{
	padding-right: 18px;
	background: transparent url(/scheduling-assistant/rs/famfamfam/silk/1.3/arrow_refresh.png) no-repeat center right;
}
.return	{
	padding-right: 18px;
	background: transparent url(/scheduling-assistant/rs/famfamfam/silk/1.3/date_go.png) no-repeat center right;
}
.weeknavigation {
	font-weight:bold;
	font-size:125%;
}
.weeknavigation ul {
	margin-left: 0px;
	padding-left: 5px;
	list-style-type: none;
}
.weeknavigation ul li {
	display: inline;
	padding-right: 10px;
}
