/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*EM 'reset baseline' style rules*/
html, body, div, span,
applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
	background: transparent;
}

q:before, q:after,
blockquote:before, blockquote:after { content: ""; }
blockquote, q { quotes: "" ""; }
img { border: none; }

a {
	color: #B70101;
	text-decoration: none;
}

a:hover { text-decoration: underline; }
q:before, q:after,
blockquote:before, blockquote:after { content: ""; }
blockquote, q { quotes: "" ""; }
img { border: none; }
acronym, abbr.initialism, dfn { cursor: help; }
abbr { speak: spell-out; }
acronym, abbr.truncation, dfn { speak: normal; }
cite { font-style: italic; }
strong { font-weight: bold; }
em { font-style: italic; }
li > h3, li > p, li > a { font-size: 1em; }
ol li {list-style: decimal;}
.no_bullet {list-style: none;}

html {
	color: #000;
	background: #E5E3D7 url(../images/window-bg-not-horizontal-menu.jpg) repeat-x;
}

body {
	margin: 36px auto 0;
	width: 1040px;
	color: #333;
	background-color: transparent;
	font: normal 100%/1.5 "Lucida Grande", Verdana, sans-serif;
}

#header {
	position: relative;
	width: 100%;
	height: 97px;
	color: #fff;
	background-color: #B70101;
	z-index: 1000000;
	-moz-box-shadow: 0px 2px 2px rgba(60, 60, 60, 0.4);
	-webkit-box-shadow: 0px 2px 2px rgba(60, 60, 60, 0.4);
	background-image: url(../images/tan-hdr-bottom.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}

#uwhome {
	position: absolute;
	top: -26px;
	left: 75px;
}

#crest {
	width: 70px;
	height: 104px;
	position: absolute;
	/*top: -22px;*/
	left: 5px;
	z-index: 100;
}


/* global nav menu*/
#globalnav {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: -21px;
	right: 7px;
	font-size: 0.6875em;
}

#globalnav li {
	display: inline-block;
	padding: 0px 10px 0 10px;
	border-left: 1px solid #c9ab80;
	line-height: 1;
}

#globalnav #uwsearch {
	padding-left: 0;
	border-left: 0;
}

#globalnav #last_tool { padding-right: 0; }

#globalnav a {
	color: #efe8d8;
	line-height: 1;
	margin: 0;
	padding: 0 0 1px 0;
	display: block;
}

#siteTitle {
	position: absolute;
	top: 20px; /*CUSTOMIZATION: If not using a tagline; change top: to 26px; */
	left: 80px;
	width: 600px;
}


h1 span {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5000;
	margin-top: 0px;
	width: 322px; 
	height: 34px;
	text-indent: -999em;
	background-image: url(../images/site-title.png);
	background-repeat: no-repeat;
}


h1 a {
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 0px;
	text-indent: -999em;
}

#tagline {
	color:#F7F5E8;
	font-size:0.775em;
	font-weight:bold;
	padding-top: 30px;
	margin: 4px 0 0 2px;;
}

#search {
	position: absolute;
	top: 14px;
	right: 5px;
	font-size: 0.6875em;
	color: #eee7d6;
}

#search > div {
	display: inline;

}

#search > label {
	margin-right: 3px;
}

#search > input {
	margin-right: 2px;
}


/*** navigation menus ***/
.main-menu  {
	width: 100%;
	background: transparent url(../images/nav_bg.jpg) repeat-x;
	color: #333;
	position: relative;
	z-index: 50000;
	box-shadow: 0 3px 4px rgba(60, 60, 60, 0.3);
	-moz-box-shadow: 0 3px 4px rgba(60, 60, 60, 0.3);
	-webkit-box-shadow: 0 3px 4px rgba(60, 60, 60, 0.3);
}

.main-menu > li {
	display: inline-block;
	vertical-align: top;
	font-size: 0.8125em;
	line-height: 25px;
	background: transparent url(../images/nav_button_border.gif) no-repeat right;
	height: 25px;
	/*min-width: 120px;*/
	position: relative;
}

.main-menu > li a {padding-left: 0;}

.main-menu h2 {
	height: 100%;
  width: 100%;
}

.main-menu h2 > a {
	display: block;
	height: 100%;
	padding: 0 15px;
	text-align: center;
	color: #b70101;
	background-color: transparent;
	position: relative;
	line-height: 24px;
	text-transform: uppercase;
}
.main-menu .current h2 > a {color: #333;}

.main-menu h2 > a:hover {
	text-decoration: none;
}

.main-menu > li:hover, .main-menu > a:focus, .main-menu > a:hover, .main-menu > a:active, .main-menu .current {
	background-color: #e7d9c1;
	text-decoration: none;
}

.main-menu > #n_search:hover {
	background-color: transparent;
}

.current a { color: #333; }


/*** submenus ***/

.main-menu > li:hover > ul,
.main-menu > .sfHover > ul {
	position: absolute;
	left: -1px;
	top: 25px; /* match top ul list item height */
	z-index: 99;
}

.submenu {
	padding: 10px 0;
	background-color: #e7d9c1;
	opacity: .95;
	border-color: #AB907D;
	border-width: 1px;
	border-style: none none solid solid;
	box-shadow: 3px 3px 4px rgba(60, 60, 60, 0.4);
	-moz-box-shadow: 3px 3px 4px rgba(60, 60, 60, 0.4);
	-webkit-box-shadow: 3px 3px 4px rgba(60, 60, 60, 0.4);
	width: 200px;
}

.submenu > li {
	margin-left: 7px;
	margin-right: 4px;
	margin-bottom: .75em;
	display: block;
	line-height: 1;
	background-color: transparent;
}

.submenu > li > a:link {
	margin-left: 7px;
	margin-right: 4px;
	text-align: left;
	font-size: 1em;
	text-transform: none;
}

.submenu > li > a:hover, .submenu > li > a:focus {
	color: #b70101;
	background-color: #d0bd9a;
	text-decoration: none;
}


/** breadcrumbs **/
#breadcrumbs {
	position: absolute;
	font-size: .9em;
	top: .5em;
	right: 30px;
	height: 1.5em;
	text-align: right;
	background-color: #fff;
}

#breadcrumbs > li {
	display: inline;
	margin-left: 5px;
	height: 100%;
}

#breadcrumbs a {
	font-size: 0.8125em;
}

#breadcrumbs li:before {
	content: '> ';
	font-size: 0.6875em;
}

#breadcrumbs li:first-child:before {
	content: '';
}

#breadcrumbs li:first-child {
margin-left: 0;
}


/*
******************************
 layout
******************************
*/

#shell {
	position: relative;
	width: 1038px;
	border-width: 1px 1px 2px;
	border-color: #c3bca1 #c3bca1 #b70101;
	border-style: none solid solid;
	padding-bottom: 30px;
	background-color: #fff;
}

#content {
	width: 978px;
	padding: 20px 30px 0 30px;
	font-size: 82%;
	line-height: 1.4;
}

/*Basic content styles*/

#content > h1, #content > h2, #content > h3, #content > h4 {
	margin: 1em 0 .25em;
	font-weight: bold;
}

#content > h1 {
	font-size: 1em;
}

#content > h2 {
	font-size: 0.875em;
}

#content > h3 {
	font-size: 0.8125em;
}

#content > p {
	margin: 1em 0;
}

#content > h1 + p, #content > h2 + p, #content > h3 + p, #content > .left + p, #content > .right + p{
	margin-top: .25em;
}

/*
#content > p, #content ul > li, #content ol > li {
	font-size: 0.85em;
}
*/

#content > ul {
	margin: 1em 0 1em 1em;
}

#content > ol {
	margin: 1em 0 1em 1.5em;
}

/* #content li { margin-bottom: 1em; } */

.right {
	float: right;
	margin: 0 0 1.5em 2.5em;
}

.left {
	float: left;
	margin: 0 1.5em 2.5em 0;
}

.photo { width: 204px; }
.photo > img { border: 2px solid #DDDAC7; }

.photo > p {
	font-size: 0.7125em;
	color: #7f7c5e;
	line-height: 1.3;
}

.credit {
	display: block;
	margin-top: 0.75em;
	font-size: .9em;
	text-transform: normal;
}

/* footer */
#footer {
	padding-bottom: 40px;
	width: 100%;
	padding-top: 10px;
	background-color: transparent;
	font-size: 0.6875em;
	line-height: 1;
	color: #999;
	border-top: 10px #666152 solid;
}

#footer p {
	text-align: center;
	margin-bottom: .5em;
}

/*
***************************************************
skip navigation, etc.
***************************************************
*/

/*Skip links*/
.skip a, .skip a:hover, .skip a:visited {
	position: absolute;
	left: 0px;
	top: -1000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	color: #fff;
	font-size: .725em;
	padding: 0 5px;
}

.skip a:active, .skip a:focus {
	position: absolute;
	top: -35px;
	left: 5px;
	width: auto;
	height: auto;
	color: #fff;
}

.hide {
	position: absolute;
	top: -100em;
	left: -5000em;
	height: 0;
}

.hide a, .hide a:hover, .hide a:visited {
	position: absolute;
	top: 0;
	left: -5000em;
}

.hide a:focus {
	position: static;
	width: auto;
	height: auto;
}

a:hover, a:active { outline: none; }
